# AUTOMAÇÃO WEB / BUSCANDO INFORMAÇÕES EM PYTHON

In [1]:
from selenium import webdriver 
from selenium.webdriver.common.keys import Keys 

# para rodar o chrome em 2º plano
# from selenium.webdriver.chrome.options import Options
# chrome_options = Options()
# chrome_options.headless = True 
# navegador = webdriver.Chrome(options=chrome_options)

# abrir um navegador 
navegador = webdriver.Chrome() 
navegador.get("https://www.google.com/")

# 1 - Pegar a cotação do Dólar
navegador.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação do dolar")
navegador.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element_by_xpath(
    '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_dolar)

# 2 - Pegar a cotação do Euro 
navegador.get("https://www.google.com/")
navegador.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")
navegador.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element_by_xpath(
    '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_euro)

# 3 - Pegar a cotação do Ouro 
navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element_by_xpath('//*[@id="comercial"]').get_attribute("value")
cotacao_ouro = cotacao_ouro.replace(",", ".")      #replace para trocar , por .
print(cotacao_ouro)

navegador.quit()

5.217099999999999
6.125626662
294.14

In [2]:
# 4 - Importar a lista de produtos
import pandas as pd
tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [3]:
# 5 - Recalcular o preço de cada produto
#     atualizar a cotações 
tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)
#     atualizar o preço de compra > Preço BASE original * cotação = preço BASE em reais 
tabela["Preço Base Reais"] = tabela["Preço Base Original"] * tabela["Cotação"]
#     atualizar o preço final > Preço Base Reais * margem = Preço final
tabela["Preço Final"] = tabela["Preço Base Reais"] * tabela["Margem"]

# Correção de casas decimais
tabela["Preço Base Reais"] = tabela["Preço Base Reais"].map("R${:.2f}".format)
tabela["Preço Final"] = tabela["Preço Final"].map("R${:.2f}".format)


display(tabela)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.217100,R$5217.05,1.40,R$7303.87
1,Carro Renault,4500.00,Euro,6.125627,R$27565.32,2.00,R$55130.64
2,Notebook Dell,899.99,Dólar,5.217100,R$4695.34,1.70,R$7982.07
3,IPhone,799.00,Dólar,5.217100,R$4168.46,1.70,R$7086.39
4,Carro Fiat,3000.00,Euro,6.125627,R$18376.88,1.90,R$34916.07
5,Celular Xiaomi,480.48,Dólar,5.217100,R$2506.71,2.00,R$5013.42
6,Joia 20g,20.00,Ouro,294.140000,R$5882.80,1.15,R$6765.22

In [ ]:
# 6 - Salvar os novos preços dos produtos